.body{
	background: #f4f4f4 !important;
}
#menu{
	position:fixed;
	color: #000;
	padding:6px;
	margin:5px;
	font-size:30px;
	top: 0px;
	left: 0px;
}

#menu_container{
	top:55px;
	position:fixed;
	height:999999px;
	width:2px;
	z-index: 100;
}


#menu:hover{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.19);
	cursor:pointer;
}

.main{
	padding: 10px;
	margin: 10px 30px 10px 130px;
	width:78%;
}
.name{
	text-align:center;
	font-family: 'Marcellus SC', serif;
	font-size: 1.4em;
	padding: 5px;
}
/* card */
.card-title{
	height: 70px;
	font-size:1em;
	font-family: 'Open Sans', sans-serif;
	overflow:hidden ;
}

.card-title.no-pic{
	height: 40px;
	font-size:1em;
	text-align:justify;
}

.card:hover{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.19);
	cursor:pointer;
	opacity: 0.88;
}
.card{
	border-color:#fff;
	background:#fff;
	box-shadow: 0 0 13px 0 rgba(0,0,0,0.15);
	padding-bottom:0px;
	margin-bottom:0px;
}

.card-block.text-muted{
	font-size:12px;
	padding-bottom:4px;
	padding-top:0px;
}
/* card end */
.col-md-3,.col-md-6{
	padding: 5px;
	
}
#side_bar{
	background: #fff;
	border-right: 1px solid #d3d3d3;
}
.holder1 {
	margin: 10px;
	padding: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #000;
	text-align: center;
}

.holder2 {
	margin: 10px;
	padding: 5px;
	font-family: 'Open Sans', sans-serif;
}
.list {
	font-size: 15px;
	color: #000;
	padding: 2px 2px 2px 4px;
	
}

.sub_lists {
	margin: 0px 50px 0px 30px;
	font-size: 15px;
	color: #000;	
	padding: 0px 2px 2px 9px; 
	border-bottom: 0.5px solid #d3d3d3;
}

.sub_lists:hover{
	cursor: pointer;
	box-shadow: 0 0.5px 0.5px 0px rgba(0, 0, 0, 0.2);
}

/* Modals*/

.modal-header{
	padding-bottom:5px;
}

pre {   
    
     white-space: pre-wrap;       
    white-space: -moz-pre-wrap;  
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;    
    word-wrap: break-word; 
}

#article_content{
	font-family: 'Sans-serif';
	margin:20px 10px 0px 10px;
	size: 14px;
}
#article_title{
	text-align:center;
	font-family: 'Merriweather', serif;
	size: 22px;
	
}
#article_summary{
	text-align:center;
	font-family: 'Sans-serif';
	size: 18px;
}
#article_image{
	max-height:300px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	
}
#article_loader{
	margin-left:auto;
	margin-right:auto;
	display:block;
	
}
/* Modal Ends */



