
/*no outline for any links at all */

/* to remove outline for select field(mozilla specific , since chrome also does not render properly) , IE 9 not supported , see SO question */
/*@-moz-document url-prefix(){
select {

  color: #000 !important;
  color: rgba(0,0,0,0) !important;
  text-shadow: 0 0 0 #000 !important;
}*/
}

a{
	outline:0 !important;
}

img {
	max-width:100%;
	height:auto;
	/*display:block;*/
}

#logo-img{
	height:80px;
	width:100px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}


#login-header h1{

	text-align:center;
}

.login-element{
	margin-top:40px;
	color:#fff;
	background-color:rgb(60,85,95);
	border-radius:5px;
}

.feed_item{
	margin:20px;
	padding:15px;
	background-color:#D3D3D3;
	border-radius:5px;
}

.button{
	width:50px;
}

.chosen-select{
	width:100%;
	border-radius:2px;
}

/* commented since cat_selection.html is now not in use
.cat_sel_container{
	border-radius:5px;
	margin-top:20px;
	background-color:#374954;
}

.category-selection{
	padding:20px;
	
}

.category-header{
	text-align:center;
	padding:5px;
	font-weight:bold;
	color:#fff;
	background-color:#6BBE92;
	border-radius:2px;
}
*/

/* feed unsubscribe list styling */




/*cards in category selection */



/*on card hover darken the image */
.card.discover{
	font-family: 'Open Sans',sans-serif; 

}

.card.discover.card-inverse:hover .card-img{
	opacity:0.3 !important;
}

.card.discover.card-inverse:hover{

	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3), 0 0px 1px 0 rgba(0, 0, 0, 0.28);
	cursor:pointer;
}

.cat-link{
	
	text-decoration:none !important;
	color:#0000EE !important;
}

.overlay > .card-img{
	height:200px !important;
	width:100%;
	border-radius:0px !important;
}

.feed_card:hover{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3), 0 0px 1px 0 rgba(0, 0, 0, 0.28);
}

.ajax-link{
	text-decoration:none !important;
}

/*cards in category selection*/







/* organize page styling */

/*category-header styling used from old cat selection page */

.feed-ajax-link-email{

	/*text-decoration:none !important;*/
}


.feed-ajax-link{
	/*display:table-cell;
	vertical-align:middle;*/
	/*line-height:inherit;*/
	/*text-decoration:none !important;*/
}

.category{
	margin-top:10px;
	margin-bottom:10px;
	box-shadow: 10px 10px 26px 0px rgba(224,204,224,0.87);
}

.category:hover{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.8), 0 0px 1px 0 rgba(0, 0, 0, 0.78);
}

.category-header{
	text-align:center;
	padding:5px;
	font-weight:bold;
	color:#fff;
	background-color:#6BBE92;
	border-radius:2px;
}

/* make col-md-4 scrollable */
.feed-list-item{
	height:70px;
}

.feeds{
	
	background-color:#fff;
	/* overflow-y:scroll puts scrollbar even when not needed */
	height:140px;
	overflow-y:auto;
}


/*
 *  STYLE 3
 */
/*scrollbar restyling */
.feeds::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.feeds::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}

.feeds::-webkit-scrollbar-thumb
{
	background-color: #000000;
}



/*organize page styling */


/* add feed styling */
.add-feed{
	background-color:#ebe7e2;
	box-shadow: 10px 10px 26px 0px rgba(224,204,224,0.87);
	padding:0px !important;	
}
.add-feed{
	padding:0px !important;
}

.form-add-feed{
	margin:20px;
}




/* Main styling*/
.main{
	padding: 10px;
	margin: 10px 30px 10px 130px;
	width:78%;
}












/* required for flask-paginate extension */
.page-subnav,
.pagination-nav {
    width: 100%;
    height: 40px;
    background-color: #EEE;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,whiteSmoke), color-stop(100%,#EEE));
    background-image: -webkit-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    background-image: -ms-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    background-image: -o-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
    background-image: linear-gradient(top, whiteSmoke 0%,#EEE 100%);
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.pagination-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1020;
    border-color: #D5D5D5;
    border-width: 0 0 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, .1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.pagination {
    margin: 10px 0;
    margin-top: 0;
    margin-bottom: 0;
}
.pagination-page-info {
    padding: .6em;
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

