<div class="container cat_sel_container">
		<form action="{{ url_for('store_cat') }}" method="POST">
		
		<!-- to identify if add or unsubscribe form was submitted -->
		<input type="hidden" value="add" name="form_type">

		<div class="row">
			{% for item in cats %}
				{% if loop.index0 % 3 == 0 %}
					<!--end the previous div class='row -->
					</div>
					<!-- and start a new row -->
					<div class="row">
				{% endif %}
				<div class="col-md-4 center-block category-selection">
					<p class='category-header'>{{ item['cat_name'] }}</p>
					<select data-placeholder="Choose websites" class='chosen-select' multiple='true' id="{{ item['cat_name'] }}" name="{{ item['cat_name'] }}" style="width:100%">
					{% for urls in data %}
						{% if urls['cat_id']==item['cat_id'] %}
							<option value="{{ urls['url'] }}">{{ urls['site_name'] }}</option>
						{% endif %}
					{% endfor %}
					</select>
				</div>
			{% endfor %}
		</div>               <!-- end the last row division -->
		<button type="submit" name="submit" class="btn btn-info">Submit</button>
		</form>

	</div>
	<script type='text/javascript'>
		$(function(){
			//have to specify width explicitly since there is a problem with chosen jquery plugin and bootstrap tabs(width gets set to 0)
			$('.chosen-select').chosen({ width:'100%' });
		});
	</script>
