<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap-social.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}">
		

		<!-- don't include any script or stylesheet twice(two versions of jquery or bootstrap.min.js etc) -->

		<!--flask-paginate stylsheet -->
		<!--<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/web.css') }}">-->

		<!-- Dependencies for chosen jquery plugin -->
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

		<!--<script src="http://code.jquery.com/jquery-1.7.1.js"></script>-->
		<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

		<!-- chosen jquery plugin -->
		<script src="{{ url_for('static', filename='chosen/chosen.jquery.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='chosen/chosen.css') }}">
		
		<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
		
	</head>
	<body>
		{% block navbar %}
		{% endblock %}
		<!--<h1 style="text-align:center">Welcome to chronicler : <a href="/index">Home</a></h1>-->	
		{% block content %}
			<div class="container">
			{% block page_content %}{% endblock %}
			</div>	
		{% endblock %}
	</body>
</html>
