{% extends "base.html" %}

{% block title %}Select{% endblock %}

{% block navbar %}
	{% include 'navbar.html' %}
{% endblock %}


{% block content %}
	{% if first_access==true %}
		{% include 'add_feeds.html' %}
	{% else %}
		
				
		<div class="tabbable">
		<ul class="nav nav-tabs" data-tabs="tabs">
			<li class="active"><a href="#my_subscriptions" data-toggle="tab">My Subscriptions</a></li>
			<li><a href="#add_feeds" data-toggle="tab">Add Feeds</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="my_subscriptions">
				<form action="{{ url_for('store_cat') }}" method="POST" id="unsubscribe_form">
					<!-- to identify in views.py which form was submitted -->
					<input type="hidden" value="unsubscribe" name="form_type">

					<div class="form-group col-md-4" id="subscription">
					<ul class="list-group">
					<p class="list-header">Click to Unsubscribe</p>
						{% for urls in data_subscribed %}
							
							<!--checking if urls since a join was taken so some entries might be null -->
							{% if urls %}
							<li class='list-group-item'>{{ urls.site_name }} | {{ urls.cat_name }}
								<input type="checkbox" name="{{ urls['url'] }}" id="{{ urls.site_name }}" autocomplete="off" />	
								<div class="btn-group">
								<label for="{{ urls.site_name }}" class="btn btn-default">
                    				<span class="glyphicon glyphicon-remove"></span>
                    				<span class="glyphicon glyphicon-ok"></span>
                				</label>			
								</div>
							</li>
							{% endif %}	
						{% endfor %}
						<li class='list-group-item'><button type="submit" name="submit" class="btn btn-info">Submit</button></li>
					</ul>
					</div>
				</form>
			</div>
		
			<div class="tab-pane" id="add_feeds">
				{% include 'add_feeds.html' %}
			</div>
		</div>
		</div>
	{% endif %}
{% endblock %}












