{% import "bootstrap/wtf.html" as wtf %}

{% extends "root.html" %}

{% block links %}
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
	<script src="{{ url_for('static',filename='scripts/jquery-confirm.min.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/jquery-confirm.min.css') }}">
	<script src="{{ url_for('static', filename='chosen/chosen.jquery.js') }}"></script>
	<!--<link rel="stylesheet" href="{{ url_for('static', filename='chosen/chosen.css') }}">-->

	<!-- TO MAKE CHOSEN JQUERY PLUGIN STYLE CONFORM WITH BOOTSTRAP -->
	<link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/bootstrap-chosen.css') }}">
{% endblock %}

{% block content %}
	<h2 style="text-align:center; margin-top:20px">Custom Feed</h2>
	
	
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<script>

				//QUOTES REQUIRED !!!
				var message = "{{ messages[messages|length - 1] }}"; 
				$.alert({
					icon:'fa fa-check',
					title:'Information',
					content:message
			});
			
		
			</script>

		{% endif %}
	{% endwith %}
	

	<div class="container">
		<div class="row" style="margin-top:30px">
			
			<div class="col-md-offset-3 col-md-6 add-feed">
				<div class="category-header">
					<h4>Add Feed</h4>
				</div>
				
				<div class="form-add-feed">
					<form action="" method="POST" name="add_feed">
						<div class="form-group">
				
							{{ form.hidden_tag() }}
							
							{{ form.url.label }}
							{{ form.url(placeholder="Enter URL",class_='form-control') }}
							<p><span style="color:red">{{ form.url.errors[form.url.errors|length - 1 ] }}</span></p>

							{{ form.name.label }}
							{{ form.name(placeholder="Enter Website Name",class_='form-control') }}
							<p><span style="color:red">{{ form.name.errors[form.name.errors|length - 1] }}</span></p>
	
							{{ form.category.label }}
							<select class="chosen-select form-control" data-placeholder="Choose Category" id="category" name="category">
								{% for c in cats %}
									<option value="{{ c.id }}">{{ c.name }}</option>
								{% endfor %}
							</select><br/>
							<!--<div id="jq-dropdown-1" class="jq-dropdown jq-dropdown-tip">
								<ul class="jq-dropdown-menu">
									{{ form.category(class_='form-control') }}
									<li><label><select class="form-control" id="category" name="category">
										{% for c in cats %}
											<option value="c.id">{{ c.name }}</option>	
										{% endfor %}
									</select></li></label>
								
								</ul>
							</div>
							<p><span style="color:red">{{ form.category.errors[form.category.errors|length - 1] }}</span></p>	
							<button type="button" class="btn btn-success btn-block" data-jq-dropdown="#jq-dropdown-1">Category</button>-->


							<!--{{ form.url(placeholder = "Enter URL",class_="form-control") }}
							{{ form.name(placeholder = "Enter Feed Name",class_="form-control") }}
							{{ form.category(placeholder = "Enter URL",class_="form-control") }}-->

							<br/><input type="submit" value="Add" class="btn btn-primary btn-block">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script>
		$(function(){
			$('.chosen-select').chosen({ width:'100%' });
		
		});
	</script>


{% endblock %}

{% block menu %}
	<a href="/index"><div class="holder1">Latest Articles</div></a>
		
	<div class="holder2">

	<br><a href="{{ url_for('discover') }}" class="list">Explore</a><br/>
	<a href="{{ url_for('organize') }}" class="list">Organize</a><br/>
  	<a href="{{ url_for('custom_feed') }}" class="list">Custom Feed</a><br/>
	<a href="{{ url_for('logout') }}" class="list">Logout</a><br/>
	</div>
{% endblock %}


</html>
