	{% extends "root.html" %}
		
	{% block links %}
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
	{% endblock %}
	

	{% block content %}

		<h2 style="text-align:center; margin-top:20px;">Popular Categories</h2>	
		<div class="main">
		<div class="container" style="margin-top:40px">
			
			<div class="row">
			{% for item in cats %}

				<div class="col-md-3" style="margin:auto !important;">
					<a href="{{ url_for('explore', cat_id=item.id, _external=True) }}" class="cat-link"><div class="card card-inverse">

						<div style="background:black; background-size:cover;" class="overlay">
						<img class="card-img img-fluid" src="{{ url_for('static',filename='images/' + item.name + '.jpeg') }}" style="opacity:0.5;">
						</div>
						<div class="card-img-overlay">
							<h4 class="card-title" style="text-align:center">{{ item.name }}</h4>
						</div>			
					</div></a>
				</div>
			{% endfor %}
			</div>
		</div>
		</div>
	
	{% endblock %}


	{% block menu %}
			<a href="/index"><div class="holder1">Latest Articles</div></a>
		
			<div class="holder2">
			<br><a href="{{ url_for('discover') }}" class="list">Explore</a><br/>
			<a href="{{ url_for('organize') }}" class="list">Organize</a><br/>
  			<a href="{{ url_for('custom_feed') }}" class="list">Custom Feed</a><br/>
			<a href="{{ url_for('logout') }}" class="list">Logout</a><br/>
			</div>
  	{% endblock %}

</html>
