
	{% extends "root.html" %}
		
	{% block links %}
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
		<script src="{{ url_for('static',filename='scripts/jquery-confirm.min.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/jquery-confirm.min.css') }}">
	{% endblock %}
	
		

	{% block content %}
		<script>
			$(function(){

				//console.log($SCRIPT_ROOT)

				$('.ajax-link').bind('click',function(){

					var thislink = $(this);
					var site = thislink.siblings('input').attr('name');
					
					/*js is asynchronous , so after dialog creation script continues , therefore have to use ajax as callback 
					  function to wait for input from the confirmation dialog box */

					$.confirm({
						icon:'fa fa-question',
						title:'Push Notification',
						content:'Would you like to receive email notifications from '+site+' ?',
					 	confirmButton:'Yes',
						cancelButton:'No',	

						confirm:function(){ callback(true); },
						cancel:function(){ callback(false); }

					});
					
					function callback(emailnotif){
						$.getJSON('/store_cat', {
							url: thislink.siblings('input').val(),
							notif:emailnotif
						},function(data){
							//console.log(emailnotif);
							thislink.attr("class","ajax-link pull-right fa fa-check fa-2x");

						//disable link 
							thislink.removeAttr('href');
							});					
					}	
					return false;
	
					});					
										
				});

		</script>


		<h2 style="text-align:center; margin-top:20px;">{{ cat_name }}</h2>
		<div class="container" style="margin-top:30px">
			<div class="row">
			
			<!--<div class="card-deck-wrapper">
			<div class="card-deck">-->
				{% for item in data %}
					<div class="col-md-4">
			
						{% if loop.index0 % 3 == 0 %}
							<div class="card card-primary feed_card">
						{% elif loop.index0 % 3 == 1 %}
							<div class="card card-success feed_card">
						{% else %}
							<div class="card card-danger feed_card">
						{% endif %}

							<div class="card-header">
								<div class="row">
									<div class="col-md-8">{{ item.site_name }}</div>
									<div class="col-md-4"><a href=# class="pull-right fa fa-plus fa-2x ajax-link" style="margin-top:2px;"></a><input name="{{ item.site_name }}" id="{{ item.url }}" value="{{ item.url }}" style="display:none;"></div>
								</div>
							</div>
							<!--<div class="card-block">          description not provided by all and not consistent
								<p class="card-text">{{ item['description']|safe }}   
							</div>-->
						</div>
					</div>
					
				{% endfor %}

			<!--</div>
			</div>-->		
			
			</div>
		</div>
		{% endblock %}


		{% block menu %}
			<a href="/index"><div class="holder1">Latest Articles</div></a>
		
			<div class="holder2">
			<br><a href="{{ url_for('discover') }}" class="list">Explore</a><br/>
			<a href="{{ url_for('organize') }}" class="list">Organize</a><br/>
  			<a href="{{ url_for('custom_feed') }}" class="list">Custom Feed</a><br/>
			<a href="{{ url_for('logout') }}" class="list">Logout</a><br/>
			</div>
  		{% endblock %}
			

</html>
