{% extends "base.html" %}

{% block page_content %}

	<div class="container">
		<div class="row">
			<!--<div class="col-md-offset-1 col-md-10" id="fulltext">
			</div>-->
			<object type="text/html" data="{{ url }}" style="width:100%; height:100%">
				<p>backup content</p>
			</object>
		</div>
	</div>
{% endblock %}
