{% extends "base.html" %}

{% block title %}Feeds{% endblock %}

{% block navbar %}
	{% include 'navbar.html' %}
{% endblock %}


{% block content %}

	



	<div class='container-fluid'>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
				<!-- print only the latest flashed message -->
				<br>
				<p style='color:red; text-align:center'>{{ messages[0] }}</p>
				<br>
		{% endif %}
	{% endwith %}

	<div class="container-fluid">
	{{ pagination.info }}
	{{ pagination.links }}
    {% for e in entries %}
		<!--{% if loop.index0 % 2 == 0 and loop.index0!=0 %}
			</div>
			<div class="row">
		{% endif %}	
		
		{% if loop.index0 % 2 == 1 %}
			<div class="col-md-offset-1 col-md-5 feed_item">	
		{% else %}
    		<div class="col-md-5 feed_item">
		{% endif %}-->
        	<!--<h1><a href="/fulltext?url={{ e.link }}">{{ e.title }}</a></h1>-->
			<!--<h1><a href="{{ e.link }}">{{ e.title }}</a></h1>
            <h5>Published on: {{ e.published }}</h5>-->
			<!--<p>{{ e.description|safe }}</p>-->
			<!--</div>-->
			<div class="row"> 
			<div class="col-md-offset-2 col-md-8 feed_item">
				<h1><a href="{{ e.link }}">{{ e.title }}</a></h1>
				<h5>Published on: {{ e.published }}</h5>
				{% for content in e.content %}
	        		{{ content.value|safe }}
					</div>
					</div>
	        	{% else %}
	           		 <p>{{ e.summary_detail.value|safe }}</p>
					</div>
					</div>
	    	    {% endfor %}
    {% endfor %}
	{{ pagination.links }}
	<!--{% if entries.has_prev %}<a href="url_for('index',page=prev_num)"><button class="btn btn-info">Newer Items</button></a>
	{% else %}<button class='btn btn-info disabled'>Newer Items</button>{% endif %}
	{% if entries.has_next %}<a href="url_for('index',page=next_num)"><button class="btn btn-info">Older Items</button></a>
	{% else %}<button class='btn btn-info disabled'>Older Items</button>{% endif %}-->
	

	</div>
	<script>
	/*window.onload = function() {
    var images = document.getElementsByTagName('img');
		//!= is not equal , !== is not equal value or not equal type 
        len = images !== null ? images.length : 0;
        i = 0;
    for(i; i < len; i++) {
        images[i].className += "img-responsive"; 
	    }
	}*/
	</script>    

{% endblock %}
