{% extends "base.html" %}

{% block title %}Landing Page{% endblock %}

{% block navbar %}
	{% include 'navbar.html' %}
{% endblock %}

{% block page_content %}
	<!--<div class="page-header">
	<h1 style="text-align:center">Welcome to Chronicler</h1>
	</div>-->
	<div class="col-md-offset-3 col-md-6">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
					<!-- print only the latest flashed message -->
					<h3 style='color:red; text-align:center'>{{ messages[messages|length - 1] }}</h3>
			{% endif %}
		{% endwith %}
</div>
{% endblock %}
