{% import "bootstrap/wtf.html" as wtf %}

<html>
	<head>
		<title>Chronicler-Login</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	
	</head>

	<script>
	window.onload = function() {
    var buttons = document.querySelectorAll("input[type=submit]");
		//!= is not equal , !== is not equal value or not equal type
        len = buttons !== null ? buttons.length : 0;
        i = 0;
    for(i; i < len; i++) {
        buttons[i].className += "btn btn-block btn-primary"; 
    }
}
</script>

<style>

.main {
  background: url('http://www.ultimatedesignertoolkit.com/wp-content/uploads/2015/01/Background_5.jpg') no-repeat center center fixed; 
  height: 100%;
  /*-webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;*/
          background-size: cover;	/* wrap bgrnd img*/
  width: 100%;
  margin: 0px;
} 


a, a:hover {
    text-decoration: none;
    text-align: center !important;
}


.form input{
    margin-bottom: 0px !important;
    border-style: none;
}

.blah {
	margin-top: 25%;
	margin-left: 25%;
}
input[type="text"], input[type="password"], .social, .reg .btn, input[type="submit"] {
    width: 275px !important;
    height: 50px !important;
    border-radius: 0% !important;

}

.info {
	margin-top : 20px;
}

.navbar-default {
    background:transparent;
    border-style: none;	
}


.social button{
    color: black;
    width: 115px;
    height: 40px;
    border-radius: 0%;
    border-style: none;
    background: white;
    /*margin-left: 15px;*/
}

.social #f:hover{
    color: white;
    background:#3b5998;
}

.social #g:hover{
    color: white;
    background: #d34836;
}

</style>
	<body>
		{% block navbar %}
		{% endblock %}
		<!--<h1 style="text-align:center">Welcome to chronicler : <a href="/index">Home</a></h1>-->	
		{% block content %}
	<div class="main">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <ul class="nav navbar-nav navbar-right">
	      <li class="info"><p>New To Chronicler ?</p></li>
	      <li><a href="/register" ><button class="btn btn-block btn-primary" style="border-radius: 0%; border-color: black;background: transparent;color: black;">Sign Up</button></a></li>
	    </ul>
	  </div>
	</nav>

	<div class="col-md-offset-3 col-md-6 ">

		{% with messages = get_flashed_messages() %}
			{% if messages %}
					<!-- print only the latest flashed message -->
					<h3 style='color:red; text-align:center; margin-bottom:-20%'>{{ messages[messages|length - 1] }}</h3>
			{% endif %}
		{% endwith %}

		<div class="blah">
			
			<div class = "row social">
				<div class="col-md-5 "><a href="{{ url_for('oauth_authorize', provider='facebook') }}"><button id="f"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></button</a></div>
				<div class="col-md-2 "></div>
				<div class="col-md-5 "><a href="{{ url_for('oauth_authorize',provider='google') }}"><button id="g"><i class="fa fa-google fa-lg" aria-hidden="true"></i></button></a></div>
			</div><br>
			<!-- render form -->
			<div class="form">
			<form action="" method="post" name="login">
				{{ form.hidden_tag() }}
				    {{ form.email(placeholder = "Email", class_="form-control") }}
				    {% for error in form.email.errors %}
					<span style="color: red;">[{{ error }}]</span>
				    {% endfor %}
				    {{ form.password(placeholder = "Password", class_="form-control") }}
					{% for error in form.password.errors %}
					<span style="color: red;">[{{ error }}]</span>
				    {% endfor %}					
				<br>
				<span>{{ form.remember_me }} Keep me logged In </span><br><br>
				<p><input type="submit" value="Sign In"></p>
			 </form>
			 </div>
		
		</div>
	</div>
</div>
		{% endblock %}
	</body>
</html>




























