<div class="navbar navbar-inverse" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" style="color:#FFFFFF" href="/">CHRONICLER</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="/index" style="color:#FFFFFF">Home</a></li>
						</ul>
						<ul class="nav navbar-nav">
							<li><a href="/cat_selection" style="color:#FFFFFF">Subscriptions</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
						<!-- current_user.is_authenticated() doesn't work -->
							{% if current_user.is_authenticated %}
								<li><a href="{{ url_for('logout') }}" style="color:#FFFFFF">Log Out</a><li>
							{% else %}
								<li><a href="{{ url_for('login') }}" style="color:#FFFFFF">Log In</a><li>
							{% endif %}
						</ul>
					</div>
				</div>
</div>
			<div>
					<img src="/static/images/logo.png" id="logo-img">
			</div>

