	{% extends "root.html" %}
		
	{% block links %}
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
		<script src="{{ url_for('static',filename='scripts/jquery-confirm.min.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/jquery-confirm.min.css') }}">
	{% endblock %}


	{% block content %}
		<script>
			$(function(){

				//console.log($SCRIPT_ROOT)

				$('.feed-ajax-link').bind('click',function(){

					var thislink = $(this);
				
					$.getJSON('/unsubscribe_feed', {
						url: $(this).siblings('input').val()
					},function(data){

						//console.log(thislink.closest('.feed-list-item').siblings('li').length);

						if(thislink.closest('.feed-list-item').siblings('.feed-list-item').length==0)
						{
							//if last item in category, then remove that and the category itself
							thislink.closest('.feed-list-item').toggle(600, function(){ $(this).remove();});
		
							thislink.closest('.col-md-4').toggle(600, function(){ $(this).remove();});
						}
						else
						{
							//first toggle(display:none) and then completely remove from DOM
							thislink.closest('.feed-list-item').toggle(600, function(){ $(this).remove();});
							//thislink.closest('.feed-list-item').remove();
						}

						});					
						
					return false;
	
					});


				
					$('body').on('click','.feed-ajax-link-email-unsub',function(){

					//console.log("Entering");
					//now children() required obvously

					var thislink = $(this);
					//console.log(thislink.siblings('input').val());				

					$.getJSON('/unsubscribe_email', {
						email_notif_url : thislink.siblings('input').val()
				
					},function(data){
						
						$.alert({
							icon:'fa fa-check',
							title:'Success',
							content:'Unsubscribed successfully'
						});
						thislink.toggle(400,function(){ $(this).html("Mail Sub");

							$(this).toggle(400);
							$(this).attr("class","pull-right feed-ajax-link-email-sub btn btn-sm btn-primary col-md-3");
			
						});
						

						});					
						
					return false;
	
					});


					//using event delegation(delegating to upper element) because otherwise event handlers don't change on just changing
					//the class from unsub to sub or sub to unsub

					$('body').on("click",'.feed-ajax-link-email-sub',function(){

					var thislink = $(this);
					//console.log(thislink.siblings('input').val());			

					$.getJSON('/subscribe_email', {
						email_notif_url : thislink.siblings('input').val()
				
					},function(data){
						
						$.alert({
							icon:'fa fa-check',
							title:'Success',
							content:'Subscribed successfully'
						});
						thislink.toggle(400,function(){ $(this).html("Mail Unsub");
							$(this).toggle(400);
							$(this).attr("class","pull-right feed-ajax-link-email-unsub btn btn-sm btn-warning col-md-3");
							
						});
						

						});					
						
					return false;
	
					});							
									
			
					
				});


			




		</script>

		<h2 style="text-align:center; margin-top:20px">Organize Feeds</h2>
		<div class="container" style="margin-top:30px">
			<div class="row">
				{% for item in subs %}
					<div class="col-md-4 cat">
						<div class="category">
							<div class="category-header">
								<h4>{{ item }}</h4>
							</div>
							<div class="feeds">
								<ul class="list-group list-group-flush">
								{% for it in subs[item] %}
									<li class="list-group-item feed-list-item">
										<div class="row">
											<div class="col-md-4">{{ it['site_name'] }}</div>
											
											<a href="#" class="pull-right feed-ajax-link btn btn-sm btn-danger col-md-3" style="margin:0px 2px 0px 2px">Remove</a><input name="{{ it['url'] }}" id="{{ it['url'] }}" value="{{ it['url'] }}" style="display:none">

											{% if it['email_sub'] == true %}
												<a href="#" class="pull-right feed-ajax-link-email-unsub btn btn-sm btn-warning col-md-3" style="margin:0px 2px 0px 2px">Mail Unsub</a>
											{% else %}
												<a href="#" class="pull-right feed-ajax-link-email-sub btn btn-sm btn-primary col-md-3" style="margin:0px 2px 0px 2px">Mail Sub</a>
											{% endif %}	
										
										</div>
									</li>
								{% endfor %}
									<li class="list-group-item" style="display:none"></li>
								</ul>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	
	{% endblock %}


	{% block menu %}
			<a href="/index"><div class="holder1">All Articles</div></a>
		
			<div class="holder2">
			<br><a href="{{ url_for('discover') }}" class="list">Explore</a><br/>
			<a href="{{ url_for('organize') }}" class="list">Organize</a><br/>
  			<a href="{{ url_for('custom_feed') }}" class="list">Custom Feed</a><br/>
			<a href="{{ url_for('logout') }}" class="list">Logout</a><br/>
  	{% endblock %}


</html>
