{% import "bootstrap/wtf.html" as wtf %}

<html>
	<head>
		<title>Chronicler-Login</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Arvo:400,700|Vidaloka" rel="stylesheet">
		
		
		
		
		
	</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
	window.onload = function() {
    var buttons = document.querySelectorAll("input[type=submit]");
		//!= is not equal , !== is not equal value or not equal type 
        len = buttons !== null ? buttons.length : 0;
        i = 0;
    for(i; i < len; i++) {
        buttons[i].className += "btn btn-primary"; 
    }
}
</script>
<script>
       ( function( $ ) {				// slide fade
		$(window).scroll(function () {
    var scrollTop = $(window).scrollTop();
    var height = $(window).height();

    $('.blah').css({
        'opacity': ((height - scrollTop) / height)
    }); 
});
/*$(document).ready(function(){   // total fade out
    $(window).scroll(function(){
        $(".blah").css("opacity", 1 - $(window).scrollTop() / ($('.blah').height() / 2));
    });
});*/

	/*$(document).ready(function(){				// used to scroll up towards reg page on click but some buggy activity
		$("#5").click(function() {
			var href = $(this).attr('href');
			//var split = href.split('#');
			$('html, body').animate({
				scrollTop: parseInt($(href).offset().top)
			}, 2000);
		});
	});*/
} )( jQuery );
</script>
<style>

::-webkit-scrollbar { 	/* removes scroll bar*/
    display: none; 
}
body{
margin: 0; padding: 0;
}


a, a:hover, a:active {
    text-decoration: none;
    color: white;
}

.social .stuff{
	padding: 20px;
}

/*.social .btn {
    width: 115px;
    height: 50px;
    border-radius: 0%;
}*/



.form input{
    margin-bottom: 0px !important;
    border-style: none;
}

.blah {
	margin-top: 7%;
	margin-left: 25%;
}
input[type="text"], input[type="password"], .social, .reg .btn, input[type="submit"], h3 {
    width: 275px !important;
    height: 50px !important;
    border-radius: 0% !important;
}


input[type="submit"] {
	background: transparent;
	border-style: solid 1px white !important; 
	font-size: 20px;
}
.social{
	margin-left: 35px;
}

.info {
	margin-top : 20px;
}

.navbar-default {
    background:transparent;
    border-style: none;
}

i{
	margin-left: 15px;
}

.stuff{
	margin-right: 10px;
}

#f a:hover {
	color: #3b5998;
}

#g a:hover {
	color:  #d34836;
}

#f a, #g a {
	color: white;
}

/*input[type="text"]::-webkit-input-placeholder {	for padding placeholder
	padding: 10px;
} */

/* page and content style */

.page-1 {
  background: url('/static/images/landing/b&w-1.jpg') no-repeat center center fixed; 
  height: 100%;
  /*-webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;*/
          background-size: cover;	/* wrap bgrnd img*/
  width: 100%;
  margin: 0px;
  vertical-align: top;
  font-family: 'Arvo', serif;
  font-weight: normal;
}

.page-2 {
  background: url('/static/images/landing/b&w-2.jpg') no-repeat center center fixed; 
  height: 100%;
  /*-webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;*/
          background-size: cover;	/* wrap bgrnd img*/
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.page-3 {
  background: url('/static/images/landing/b&w-3.jpg') no-repeat center center fixed; 
  height: 100%;
  /*-webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;*/
          background-size: cover;	/* wrap bgrnd img*/
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.page-4 {
  background: url('/static/images/landing/b&w-5.jpg') no-repeat center center fixed; 
  height: 100%;
  /*-webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;*/
          background-size: cover;	/* wrap bgrnd img*/
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.page-5 {
  background: url('/static/images/landing/b&w-5.jpg') no-repeat center center fixed; 
  height: 100%;
  /*-webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;*/
          background-size: cover;	/* wrap bgrnd img*/
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}


.cont-2 {
        position: absolute;
	height: 90px;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	top: 200px;
        font-weight: bold;
	padding: 20px 0px 0px 20px;
	font-family: 'Lalezar', cursive;
	font-size: 30px;
	color: white;
}

.cont-3 {
        position: absolute;
	height: 90px;
	width: 100%;
	background-color: black;
	opacity: 0.6;
	top: 450px;
        font-weight: bold;
	padding: 20px 20px 0px 20px;
	font-family: 'Lalezar', cursive;
	font-size: 30px;
	color: white;
	text-align: right;
}

.cont-4 {
        position: absolute;
	height: 90px;
	width: 100%;
	background-color: black;
	opacity: 0.6;
	top: 90px;
        font-weight: bold;
	padding: 20px 20px 0px 20px;
	font-family: 'Lalezar', cursive;
	font-size: 30px;
	color: white;
	text-align: center;
}

.cont-5 {
        position: absolute;
	height: 120px;
	width: 200px;
	left: 42%;
	background-color: black;
	opacity: 0.6;
	top: 90px;
        font-weight: bold;
	padding: 25px 20px 20px 20px;
	font-family: 'Lalezar', cursive;
	font-size: 30px;
	color: white;
	text-align: center;
}

</style>
<body>{% block content%}
<div class="page-1" id="1">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li class="info"><p style="color: white;">Already use Chronicler?</p></li>
      <li><a href="/login" style="color: black;"><button class="btn btn-block btn-primary" style="border-radius: 0%;; border-color: white; background: transparent;color: white;">Sign In</button></a></li>
    </ul>
  </div>
</nav>

<div class="col-md-offset-3 col-md-6">
	<div class="blah">
		<p style="color:white; margin-left: 33px; font-size: 30px; font-weight: bolder;">CHRONICLER</p><br>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
					<!-- print only the latest flashed message -->
					<h3 style='color:#C70039; text-align:center'>{{ messages[messages|length - 1] }}</h3>
			{% endif %}
		{% endwith %}
		<!--<div class = "row social">
				<div class="col-md-5 "><p><a href="{{ url_for('oauth_authorize', provider='facebook') }}" class="btn btn-block btn-social btn-facebook"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></p></div>
				<div class="col-md-2 "></div>
				<div class="col-md-5 "><p><a href="{{ url_for('oauth_authorize',provider='google') }}" class="btn btn-block btn-social btn-google"></a></p></div>
			</div>-->
		<div class="social">
			<div class = "row">
				<p id="f"><a href="{{ url_for('oauth_authorize', provider='facebook') }}" ><i class="fa fa-facebook fa-lg" aria-hidden="true"></i><span class="stuff"  style="font-size:15px;">Sign Up With Facebook</span></a></p>
 			</div><br>	
			<div class = "row"><p id="g">
				<a href="{{ url_for('oauth_authorize',provider='google') }}" ><i class="fa fa-google fa-lg" aria-hidden="true"></i><span class="stuff" style="font-size:15px;">Sign Up With Google</span></a></p>
			</div>
		</div>
		<br><br>
		<div class="form">
			<form action="" method="post" name="login">
				{{ form.hidden_tag() }}
				    {{ form.email(placeholder = "Email", class_="form-control") }}
				    {% for error in form.email.errors %}
					<span style="color: red;">[{{ error }}]</span>
				    {% endfor %}	
				    {{ form.nickname(placeholder = "Nickname", class_="form-control") }}
				    {% for error in form.nickname.errors %}
					<span style="color: red;">[{{ error }}]</span>
				    {% endfor %}
				    {{ form.password(placeholder = "Password", class_="form-control") }}
					{% for error in form.password.errors %}
					<span style="color: red;">[{{ error }}]</span>
				    {% endfor %}
				    {{ form.confirm(placeholder = "Confirm Password", class_="form-control") }}
					{% for error in form.confirm.errors %}
					<span style="color: red;">[{{ error }}]</span>
				    {% endfor %}									
				<br>
				<p><input type="submit" value="Sign Up"></p>
			 </form>
		</div>
		<p style="margin-left: 40px; font-size: 20px; color:white ;"> Scroll To Take A Tour </p>
		<i class="fa fa-arrow-circle-down fa-4x" style="margin-left: 110px;color: #979A9A ;"></i>		
	</div>
</div>
</div>

<div class="page-2">
		<p class="cont-2">Your one stop shop for instant news from all around the world</p>
</div>

<div class="page-3">
		<p class="cont-3">Read the complete article of your favourite feeds</p>
</div>

<div class="page-4">
		<p class="cont-4">Share those special ones with your special ones</p>
</div>

<div class="page-5">
		<a href="#1" class="cont-5" id="5">So Wanna Sign Up ?</a>
</div>
{% endblock %}
</body>
</html>
