{% import "bootstrap/wtf.html" as wtf %}

<html>
	<head>
		<title>Chronicler-Login</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		
		
		
		
		
	</head>
<script>
	window.onload = function() {
    var buttons = document.querySelectorAll("input[type=submit]");
		//!= is not equal , !== is not equal value or not equal type 
        len = buttons !== null ? buttons.length : 0;
        i = 0;
    for(i; i < len; i++) {
        buttons[i].className += "btn btn-primary"; 
    }
}


</script>
<style>

.main {
  background: url('http://www.ultimatedesignertoolkit.com/wp-content/uploads/2015/01/Background_5.jpg') no-repeat center center fixed; 
  height: 100%;
  /*-webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;*/
          background-size: cover;	/* wrap bgrnd img*/
  width: 100%;
  margin: 0px;
}

a, a:hover, a:active {
    text-decoration: none;
    color: white;
}

.social .stuff{
	padding: 20px;
}

/*.social .btn {
    width: 115px;
    height: 50px;
    border-radius: 0%;
}*/



.form input{
    margin-bottom: 0px !important;
    border-style: none;
}

.blah {
	margin-top: 25%;
	margin-left: 25%;
}
input[type="text"], input[type="password"], .social, .reg .btn, input[type="submit"] {
    width: 275px !important;
    height: 50px !important;
    border-radius: 0% !important;
}

.social{
	margin-left: 35px;
}

.info {
	margin-top : 20px;
}

.navbar-default {
    background:transparent;
    border-style: none;
}

i{
	margin-left: 15px;
}

.stuff{
	margin-right: 10px;
}

</style>
<body>{% block content%}
<div class="main">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li class="info"><p>Already used Chronicler?</p></li>
      <li><a href="/login" style="color: black;"><button class="btn btn-block btn-primary" style="border-radius: 0%;; border-color: black; background: transparent;color: black;">Sign In</button></a></li>
    </ul>
  </div>
</nav>

<div class="col-md-offset-3 col-md-6">
	<div class="blah">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
					<!-- print only the latest flashed message -->
					<p style='color:red; text-align:center'>{{ messages[messages|length - 1] }}</p>
			{% endif %}
		{% endwith %}
		<!--<div class = "row social">
				<div class="col-md-5 "><p><a href="{{ url_for('oauth_authorize', provider='facebook') }}" class="btn btn-block btn-social btn-facebook"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></p></div>
				<div class="col-md-2 "></div>
				<div class="col-md-5 "><p><a href="{{ url_for('oauth_authorize',provider='google') }}" class="btn btn-block btn-social btn-google"></a></p></div>
			</div>-->
		<div class="social">
			<div class = "row">
				<p><a href="{{ url_for('oauth_authorize', provider='facebook') }}" ><i class="fa fa-facebook" aria-hidden="true"></i><span class="stuff">Sign Up With Facebook</span></a></p>
 			</div><br>	
			<div class = "row"><p>
				<a href="{{ url_for('oauth_authorize',provider='google') }}" ><i class="fa fa-google" aria-hidden="true"></i><span class="stuff">Sign Up With Google</span></a></p>
			</div>
		</div>
		<br><br>
		<div class="form">
			<form action="" method="post" name="login">
				{{ form.hidden_tag() }}
				    {{ form.email(placeholder = "Email", class_="form-control") }}
				    {% for error in form.email.errors %}
					<span style="color: red;">[{{ error }}]</span>
				    {% endfor %}	
				    {{ form.nickname(placeholder = "Nickname", class_="form-control") }}
				    {% for error in form.nickname.errors %}
					<span style="color: red;">[{{ error }}]</span>
				    {% endfor %}
				    {{ form.password(placeholder = "Password", class_="form-control") }}
					{% for error in form.password.errors %}
					<span style="color: red;">[{{ error }}]</span>
				    {% endfor %}
				    {{ form.confirm(placeholder = "Confirm Password", class_="form-control") }}
					{% for error in form.confirm.errors %}
					<span style="color: red;">[{{ error }}]</span>
				    {% endfor %}									
				<br>
				<p><input type="submit" value="Sign Up"></p>
			 </form>
		</div>
	</div>
</div>
</div>
{% endblock %}
</body>
</html>
