{% extends "root.html" %}

	{% block links %}
		<script src="https://apis.google.com/js/platform.js" async defer>
 		 {parsetags: 'explicit'}
		</script>
	{% endblock %}

	{% block modal %}
	  	<!-- Large modal -->	
	<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	    	<div class="modal-header">
        		<h4 class="modal-title" id="article_title" style="text-align:center;"></h4>
        		<!--Share links -->
        		<div class="pull-right" style="padding:0px; margin:0px;">

					<!-- Google Plus -->
					<a href="" id ="g-plus" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" title="Share on Google+"><img
  src="https://www.gstatic.com/images/icons/gplus-32.png" alt="Share on Google+"/></a>

					<!--Facebook-->
						<a href="" id="fb-share-button" class="fa fa-stack fa-facebook-square fa-2x" style="text-decoration:none; width:1em" target="_blank">
						</a>				
		
	
						<!--Email-->
					 <a href="" id="email-share" title="Share by Email">
					 <img src="http://png-2.findicons.com/files/icons/573/must_have/48/mail.png">
					 </a>	
					
					
				</div>	
			</div>
      
      	<div class="modal-body" id="article-body">
        	<div id="article_summary"></div>
        	<hr>
        	<img id="article_loader" src="{{ url_for('static', filename='images/loader.gif') }}"></img>
      		<img id="article_image"></img>
      		<hr>
        	<pre id="article_content">
        		
        	</pre>
      	</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Share</button>-->
      </div>
	    	
	    </div>
	  </div>
	</div>
	{% endblock %}
	
	{% block content %}
	
		<div class="main">
			<div class="name" id="titl"> Latest </div>
			<div class="container" id="container1">
				
				{% for item in s %}
		  			{% for it in s[item] %}
		  				
		  				
		  				<script>
		  					$(document).ready(function() {
   								 select({{it['json']|safe}}, '{{it['name']}}');
							});
		  				</script>
		  				
		  				
		  			{% endfor %}
	  			{% endfor %}
			</div>			
		</div>
	{% endblock %}
	
	

	
	{% block menu %}
		<a href="/index"><div class="holder1">Latest Articles</div></a>
		
		<div class="holder2">
	  	{% for item in s %}
	  			
	  			<a href="#{{item}}" class="list" data-toggle="collapse">{{item}}</a><br>
		  		<div id="{{item}}" class="collapse">
		  			{% for it in s[item] %}
		  				<div class="sub_lists" onclick="displaySelected( {{it['json']}}, '{{it['name']}}' )"> {{it['name']}} </div>
		  			{% endfor %}
	  			</div>
	  	{% endfor %}

		<br><a href="{{ url_for('discover') }}" class="list">Explore</a><br/>
			<a href="{{ url_for('organize') }}" class="list">Organize</a><br/>
			<a href="{{ url_for('custom_feed') }}" class="list">Custom Feed</a><br/>
			<a href="{{ url_for('logout') }}" class="list">Logout</a><br/>
  	
  	{% endblock %}
  	
  	

    
