<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Chronicler">

    <title>Chronicler</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

	<!-- For Glyphicons -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='stylesheets/root_base.css') }}" rel="stylesheet">
    
   <!-- Side menu -->
    <link href="{{ url_for('static', filename='Slidebars/dist/slidebars.min.css') }}" rel="stylesheet">   
   
   <!-- Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Pavanam|Open+Sans|Merriweather|Marcellus+SC" rel="stylesheet"> 
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
	
	<script src="{{ url_for('static', filename='Slidebars/dist/slidebars.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='Slidebars/dist/slidebars.js') }}" ></script>
    <script src="{{ url_for('static', filename='node_modules/he/he.js') }}" ></script>
    <script src="{{ url_for('static', filename='scripts/root_base.js') }}" ></script>
    {% block links %}
	{% endblock %}
  </head>
  {% block modal %}
	{% endblock %}
  <body>
  	
	<div id="menu_container"></div>
  	<div canvas="container" class="body">
			
    		
 			<i class="toggle-id-1 fa fa-bars" aria-hidden="true" id="menu"></i>
			
			{% block content %}
			{% endblock %}
			
	</div>		
	
	<div off-canvas="id-1 left reveal" id="side_bar">
			
			{% block menu %}
			{% endblock %}
		  	
  	</div>
  	    
  	
    
    <script src="{{ url_for('static', filename='scripts/articles.js') }}" ></script>
    <script>

		
		 ( function ( $ ) {
		    // Initialize Slidebars
			var controller = new slidebars();
			controller.init();
			
			$( '.toggle-id-1' ).on( 'click', function ( event ) {
			  // Stop default action and bubbling
			  event.stopPropagation();
			  event.preventDefault();
			
			  // Toggle the Slidebar with id 'id-1'
			  controller.toggle( 'id-1' );
			  
			  
			} );
			
			$('.sub_lists').on( 'click', function () {
				    controller.close();
				} );
			
			 $('.body').on( 'click', function () {
				    controller.close();
				} );
				
			 
				
			 $('#menu_container').on( 'mouseenter', function () {
				    controller.toggle('id-1');
				   
				    
				} );
			
				
			
		   } ) ( jQuery );
    </script>

  </body>
</html>
  
    
